.box {
	width: 100%;
	padding: 0 10px 0 10px;
	margin: 0px;
}
.box img {
	width: 100%;
	max-width: max-content;
	max-height: 100%;
	margin-bottom: 20px;
	border-radius: 7px;
}
.infos {
	background-color: var(--yellow);
	position: absolute;
	padding: 13px 8px;
	margin-top: -40px;
	width: 75%;
	font-size: clamp(1rem, 0.5vw, 10rem);
	line-height: 0.7;
	overflow-y: auto;
	animation: fadeScale 0.3s;
	display: none;
	z-index: 1;
	box-shadow: 3px 2px 15px rgba(50, 50, 50, 0.3);
	border-radius: 4px;
}
.infos h1 {
	font-size: clamp(1rem, 1vw, 10rem);
	font-weight: 600;
  }
.infos p {
	line-height: 1;
}
@keyframes fadeScale {
	from {
	  opacity: 0;
	  transform: scale(0.1);
	}
	to {
	  opacity: 1;
	  transform: scale(1);
	}
}