@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:ital,wght@0,400;1,700&family=Patrick+Hand&display=swap');
body {
	background: var(--white);
	font-family: 'Merriweather', serif;
}
.bg-yellow {
	background-color: var(--yellow);
}
footer {
	text-align: center;
	padding: 10px;
}
#footer-text * {
	color: gray;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
#footer-text a {
	font-weight: 700;
}
