@import './default.css';
body {
	background: var(--white);
}
.bg-yellow {
	background-color: var(--yellow);
}

footer {
	text-align: center;
	padding: 10px;
}
#footer-text * {
	color: gray;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
#footer-text a {
	font-weight: 700;
}

.navbar-brand {
	font-weight: 600;
}
