#page-buttons {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  display: flex;
  justify-content: center;
}
#page-buttons button {
  font-size: 1.5rem;
}

#return-button {
  margin-right: 1.2vh;
}
#next-button {
  margin-left: 1.2vh;
}
